body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  text-align: center;
  color: #444;
}

.color__prime {
  color: #2e308f;
}

.color__alt {
  color: #cc128c;
}